DATABASE_URL=postgresql://user:password@localhost:5432/kadegree
OPENAI_API_KEY=your_openai_api_key
# postgresql://neondb_owner:npg_oEbM70VTaAzC@ep-young-mode-axy525eq.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require
# npx neonctl@latest init